# standard bundle/gem things
/.bundle/
/pkg/

# yard doc
/.yardoc
/_yardoc/
/doc/

# rubocop
.rubocop-https---*

# the gemspec is for this
.ruby-version

# racc generates `parser.output` files on error
*.output

# generated msh stuff
spec/fixtures/good/*.msh
spec/fixtures/bad/*.msh
man/msh*.adoc
