# standard bundle/gem things
/.bundle/
/pkg/

# yard doc
/.yardoc
/_yardoc/
/doc/
/docs/

# rubocop
.rubocop-https---*

# the gemspec is for this
.ruby-version

/tmp/

msh
msh.rb
mrblib
third_party/tar-1.32*
man/**/*.gz
