# standard bundle/gem things
#
/.bundle/
/pkg/

# yard documentation
#
/.yardoc
/_yardoc/
/doc/
/docs/

# rubocop
#
.rubocop-https---*

# the gemspec is for this
#
.ruby-version
gems.locked

# MRuby temp files
#
/mruby/mrblib/

# Executables
#
/bin/
