exe/msh
{lib,app}/**/*.rb
ext/**/*.{c,cc,cxx,cpp,rb}

--markup asciidoc

--exclude lib/msh/parser.rb
--exclude lib/msh/lexer.rb
--exclude rakefile

--output-dir docs

--main readme.md

--verbose
--debug

--no-cache

-

license.txt
readme.md
