// See https://material.io/design/color/dark-theme.html#properties

// @media screen and (max-width: 768px) {
// @media screen and (max-width: 480px) {

$purple: #ea80fc;

.primary-text {
  opacity: 1.0;
}

.secondary-text {
  opacity: 0.70;
}

.disabled-text {
  opacity: 0.50;
}

.divider {
  opacity: 0.12;
}

#root {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  height: 100vh;
  width: 100vw;
  background: #000000;
  color: #ffffff;
  height: 100vh;
}

#app {
  display: grid;
  grid-column-start: 6;
  grid-column-end: 96;
}

#nav {
  background: #000000;
  grid-row: 1;
  height: 1.5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
  direction: rtl;
  grid-gap: 1em;

  // filter effects thanks to https://codepen.io/sosuke/pen/Pjoqqp
  >a {
    display: grid;
    color: white;
    padding-bottom: 0.25em;

    &:hover {
      color: $purple;
    }

    #github {
      grid-row: 12;
      // float: right;
      // padding-top: 0.25em;
    }

    #rubygems {
      grid-row: 10;
      // turn black svg into Ruby gems' red color, #e9573f
      filter: invert(49%) sepia(31%) saturate(5414%) hue-rotate(336deg) brightness(94%) contrast(93%);
    }

    &:hover #rubygems {
      // purple
      filter: invert(76%) sepia(50%) saturate(4745%) hue-rotate(229deg) brightness(100%) contrast(98%);
    }
  }
}

#ruby {
  grid-row: 1;
  // transform: rotate(180deg);
}
#description {
  grid-column-start: 10;
  grid-column-end: 90;
  grid-row: 2;
}

#main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  background: #121212; // dark grey
  padding-top: 1em;
}

.clock {
  height: 1.5em;

  .clock-date {
    padding-right: 1em;
    padding-left: 1em;
  }
}

